.account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.account-page h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #063661;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
    text-align: center;
}

.account-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
}

.account-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.account-container i {
    color: #ffd43b;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.level-box, .platinum-box, .streak-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.09);
    text-align: center;
    color: #1A0315;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
}

.note {
    font-size: 1rem;
    width: 50%;
    font-weight: 600;
}

.level-box span, .streak-box span {
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffd43b;
    text-shadow: 1px 1px 1px #000;
}

.stacked-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
}

.level-box {
    width: 40%;
    height: 700px;
    background: #00CECB;
}

.streak-box {
    width: 100%;
    background: #DEC0F1;
}

.platinum-box {
    width: 100%;
    background: #04E762;
}

.platinum-box li {
    text-align: left;
}

.level-box h2, .platinum-box h2, .streak-box h2 {
    color: #fff;
    text-shadow: 2px 2px 2px #063661;
    font-weight: 700;
    font-size: 1.8rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .account-container {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  
    .account-container i {
      margin-bottom: 10px;
    }
  
    .stacked-account-container {
      width: 100%;
      margin-top: 20px;
    }
  
    .level-box,
    .platinum-box,
    .streak-box {
      width: 100%;
      margin: 20px 0;
    }

    .note {
        font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 480px) {
    .account-container {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  
    .account-container i {
      margin-bottom: 10px;
    }
  
    .stacked-account-container {
      width: 100%;
      margin-top: 20px;
    }
  
    .level-box,
    .platinum-box,
    .streak-box {
      width: 100%;
      margin: 20px 0;
    }
  
    .note {
      width: 100%;
      font-size: 1rem;
    }
  }